name: iOS Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Select Xcode
        run: |
          sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

      - name: Build and run tests
        run: |
          xcodebuild \
            -scheme "pomodoro-app-" \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.5' \
            -enableCodeCoverage YES \
            test
